CPPNovelGame/.vs/CPPNovelGame/v15/Browse.VC.db
CPPNovelGame/.vs/CPPNovelGame/v15/Solution.VC.db
CPPNovelGame/.vs/CPPNovelGame/v15/Solution.VC.db-shm
CPPNovelGame/.vs/CPPNovelGame/v15/Solution.VC.db-wal
